---
import "../index.css";

import logoWhite from "../assets/images/logo-white.png";

import Footer from "../components/Footer.astro";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚴‍♂️</text></svg>'
    />
    <meta name='viewport' content='width=device-width' />

    <meta name='generator' content={Astro.generator} />
    <title>ridetime | Chodź na rower</title>
    <meta
      name='description'
      content='Rowery, ubrania, sprzęt i trasy - dla fanów kolarstwa.'
    />
  </head>
  <body class='bg-ridetime-light'>
    <div class='mx-auto max-w-5xl p-4 space-y-8'>
      <div class='flex flex-row items-center justify-between'>
        <img src={logoWhite.src} alt='ridetime logo' class='h-32' />
      </div>
      <iframe
        loading='lazy'
        class='w-full aspect-video'
        src='https://www.youtube.com/embed/-dpkXNn3FRI?si=t4CGiPrkWHGJOfk5'
        title='Video player'
        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
        allowfullscreen></iframe>

      <Footer />
    </div>
  </body>
</html>
