---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>ridetime</title>
  </head>
  <body class='bg-blue-900'>
    <h1 class='text-center text-2xl mt-24'>
      <span
        class='inline bg-gradient-to-r from-cyan-400 to-blue-500 text-transparent bg-clip-text'
        >ridetime</span
      >
    </h1>
  </body>
</html>
