---
import "../index.css";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>ridetime</title>
  </head>
  <body class='bg-rose-900'>
    <h1
      class='text-center text-8xl mt-24 font-main text-rose-400/80 tracking-wider'
    >
      ride<span class='text-rose-500'>time</span>
    </h1>
  </body>
</html>
