---
import SocialLinks from './SocialLinks.astro';
---

<footer class='bg-ridetime-dark'>
  <div class='mx-auto max-w-7xl py-8 md:flex md:items-center md:justify-between'>
    <div class='flex justify-center md:order-2'>
      <SocialLinks />
    </div>
    <div class='mt-8 md:order-1 md:mt-0'>
      <p class='text-center text-xs leading-5 text-sky-200'>&copy; 2024 ridetime</p>
    </div>
  </div>
</footer>
